@font-face {
  font-family: 'Lionbridge Sans Regular';
  src: url('fonts/LionbridgeSans-Regular.woff2') format('woff2'),
  url('fonts/LionbridgeSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lionbridge Sans Light';
  src: url('fonts/LionbridgeSans-Light.woff2') format('woff2'),
  url('fonts/LionbridgeSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lionbridge Sans Bold';
  src: url('fonts/LionbridgeSans-Bold.woff2') format('woff2'),
  url('fonts/LionbridgeSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lionbridge Sans Bold';
  src: url('fonts/LionbridgeSans-Bold.woff2') format('woff2'),
  url('fonts/LionbridgeSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}